* {
  background-color: var(--color-off-white);
  line-height: 26px;
}

:root {
  --color-off-white: hsl(135, 0%, 95%);
  --color-off-white-shadow: hsl(135, 0%, 75%);
  --color-spring-green: hsl(135, 90%, 80%);
  --color-future-blue: hsl(200, 90%, 80%);
  --color-vibrant-red: hsl(350, 90%, 80%);
  font-family: "Bitter", "Palatino", "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", "Georgia", serif;
}

.sans {
  font-family: "Inter", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

.monospace {
  font-family: "Cutive Mono", "Lucida Sans Typewriter", "Lucida Console",
    "monaco", "Bitstream Vera Sans Mono", monospace;
}

.cursive {
  font-family: "Dancing Script", "Brush Script MT", cursive;
}

.example {
  font-size: 24px;
  line-height: 36px;
  background-color: white;
  margin: auto 30%;
  padding: 10px;
  display: inline-block;
}

#color-main {
  background-color: var(--color-spring-green);
}
#color-alt {
  background-color: var(--color-future-blue);
}
#color-contrast {
  background-color: var(--color-vibrant-red);
}

#title {
  font-family: "Dancing Script", "Brush Script MT", cursive;
  font-size: 42px;
  letter-spacing: 0.5rem;
  text-align: center;
  font-style: oblique 14deg;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 20px 12.5%;
  max-width: 75%;
}

h1 {
  font-family: "Inter", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-top: 52px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 40px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

table {
  background-color: var(--color-off-white-shadow);
  margin: 0 auto;
  max-width: 70%;
}

th {
  background-color: lightgray;
  padding: 6px;
}

td {
  background-color: white;
  padding: 6px;
}

td.must-nowrap {
  white-space: nowrap;
}
